debug.log

08-deep-learning/data/
08-deep-learning/data.zip
08-deep-learning/.ipynb_checkpoints/


09-serverless/*.keras
09-serverless/*.tflite
09-serverless/*.json
09-serverless/*.h5
09-serverless/.ipynb_checkpoints/

10-kubernetes/machine-learning-zoomcamp/
10-kubernetes/.ipynb_checkpoints/