debug.log

08-deep-learning/data/
08-deep-learning/data.zip
08-deep-learning/.ipynb_checkpoints/


09-serverless/model_2024_hairstyle.keras
09-serverless/model_2024_hairstyle.tflite
09-serverless/.ipynb_checkpoints/

